body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #304445;
	margin: 0;
	padding: 0;
    
}


#container {
    margin: 20px auto;
	border: 1px solid black;
	background-color: #fff;
	width: 450px;
	box-shadow: 24px 18px 22px -7px rgba(255,255,255,1);
	color: aqua;
}

#container #cabecera {
	font-size: 20px;
	color: white;
	background-color: black;
	width: auto;
	height: auto;
	text-align: left;
	padding: 5px 5px 5px 10px;
	vertical-align: middle;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container #cabecera #tagline {
	font-size: 15px;
	color: white;
	margin-left: 10px;
	font-family: 'Times New Roman', Times, serif;
}

#container #post {
	border: 1px solid red;
} 

#container #post #parrafo p{
	color: red;
<<<<<<< HEAD
	font-size: 15px;
=======
	font-size: 14px;
>>>>>>> cabecera
	padding: 5px;
} 

#contenido {
	background: black;
	color: #fff;
	height: auto;
}

#contenido1 {
	background-color: crimson;
	color: #fff;
}